.main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.cub {
  width: 320px;
  height: 320px;
  border: 1px solid black;
  transition: 0.3s;
}
.cub2 {
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  transition: 0.3s;
}
.cub3 {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    25% 100%,
    25% 25%,
    75% 25%,
    75% 75%,
    25% 75%,
    25% 100%,
    100% 100%,
    100% 0%
  );
  transition: 0.3s;
}
.cub4 {
  clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  transition: 0.3s;
}
.cub5{
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
    transition: 0.3s;
}
.cub6{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: 0.3s;
}
